<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta 
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
  </header>
  <main>
    <div class="main">
      
        <form method="POST">
        
            {% csrf_token %}
            <h1>Are you Sure ?</h1>
            <input type="submit" value="BEGONE" />
            <a href={% url "todo_list_list" %}>Cancel </a>
        </form>
    </div>
  </main>
</body>

</html>