<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        {% comment %} {{ todolist }} {% endcomment %}
        <div>
            <h1>{{ todolist.name }}</h1>
            <p>
                <a href={% url "todo_list_update" todolist.pk %}>Edit</a>
                <a href={% url "todo_list_delete" todolist.pk %}>Delete</a>
            </p>
        </dv>
        <div class="todolist">
            <table>
                <h2>Tasks</h2>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todolist.items.all %}
                        <tr>
                            <td><a href={% url "todo_item_update" todolist.pk %}>{{ item.task }}</td>
                            <td>{{ item.due_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

                            

    
</body>
</html>