<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta 
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
  </header>
  <main>
    {{ todolist }}
    <h1>Update List</h1>
    <div class="main">
      <form method="POST">

          <!-- Security token -->
          {% csrf_token %}
      
          <!-- Using the formset -->
          {{ form.as_p }}
          
          <input type="submit" value="Update">
      </form>
    </div>
  </main>
</body>

</html>